body{
    width: 255px;
    margin: auto;
}
div{
    text-align: center;
}
.input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color:#375A9C;
}
.e2{
    width: 250px;
    height: 20px;
    text-align: left;

}
.e3{
    text-align: center;
    width: 59px;
    height: 20px;
}
.e4{
    width: 120px; height:26px;
    text-align: center;
    
}
.a2{
    width: 180px;
    height: 50px;
    margin: auto;
    border: 1px solid gray;
    text-align: left;
    background: #F9F9F9;

}
.input2{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    background: #1DB954;
}